/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}




body {
  background-color: navy;
  background: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.Q4oHIybjfmQxHNQeB0fSpQHaGM%26pid%3DApi&f=1) no-repeat center center fixed;
  background-size: 90%;
 }

img {
  height: 30%;
  width: 30%;
  padding-right: 11vw;
  padding-top: 2vw;
 }

 @keyframes shootEm {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  20% {
    transform: scale(0.5);
    opacity: 1;
  }
  40% {
    transform: scale(0.9);
  }
  60% {
    transform: scale(1.2);
  }
  80% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

img {
  animation-duration: 3s;
  animation-name: shootEm;
  animation-iteration-count: 3;
}

#div0 {
    display: flex;
    justify-content: center;
    font-family: "Modak", cursive;
    font-size: 70px;
    padding-top: 15px;
    padding-bottom: 15px;
    background: linear-gradient(45deg, #cb64ff, #7e64ff);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: black;   
}

#div1 {
  display: flex;
  justify-content: center;
  font-family: "Modak", cursive;
  font-size: 50px;
  padding-top: 10px;
  background: linear-gradient(45deg, #cb64ff, #7e64ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

#div2 {
    display: flex;
    justify-content: center;
    font-size: 150px;
    margin-top: 70px;
}

#div3 {
    display: flex;
    justify-content: center;
    align-content: flex-end;
    margin-top: 20px;
}

#playScore {
   margin-right: 150px;
   font-family: "Modak", cursive;
   color: #7e64ff;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
}

#compScore {
    font-family: "Modak", cursive;
    color: #cb64ff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

#paper {
    margin: 10px;
    font-size: 30px;
    border-radius: 35px;
}

#scissors {
    margin: 10px;
    font-size: 30px;
    border-radius: 35px;
}

h1 {
    font-size: 3vw;
    color: #64cbff;
}

button {
    margin: 10px;
    font-size: 30px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 35px;
    background-color: #7e64ff;
    border: 5px outset #cb64ff;
    color: #64cbff;
}

button:hover {
    border: 5px inset #cb64ff;
}
    
 /*Not Currently In Use
 .modal0 {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content0 {
    background-color: #4011ec;
    padding: 20px;
    border: 5px ridge #cb64ff;
    width: 30vw; 
    height: 30%;
    font-size: 100%;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
    
  }*/
  
  .modal1 {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(186, 85, 211, 0.371); 
  }

  .modal-content1 {
    background-color:#7e64ff;
    padding: 20px;
    border: 5px ridge #cb64ff;
    width: 20vw; 
    height: 7vw;
    font-size: 100%;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
  }

  .modal2 {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(186, 85, 211, 0.371);
  }

  .modal-content2 {
    background-color: #7e64ff;
    padding: 20px;
    border: 5px ridge #cb64ff;
    width: 20vw; 
    height: 7vw;
    font-size: 100%;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
  }

  /*Close Button(X)*/
  .close0 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close0:hover,
  .close0:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

